/* Mobile design */
@media screen and (min-width:320px) and (max-width:576px) {
    .navbar-area,
    .get-body,
    .your-habits,
    .extra-mile,
    .training,
    .bmi-calculator,
    .meet-our-team-area,
    .bmi-chart-calculate-area,
    .more-info{
        max-width:100%;
        margin: 0 ;
    }
    .nav-option{
        display: none;   
    }
    .bars{
        display: block;
        color: white;
        font-size: 25px;
    }
    .bars img{
        color: white;
    }
    .header-area{
        height: 100%;
    }
    /* get body style start */
    .get-body-info{
        width: 90%;
    }
    .get-body-info h2{
        width: 229px;
        font-size: 36px;
    }
    .get-body-info p{
        width: 274px;
        font-size: 14px;
    }
    .get-body-area{
        width: 87%;
        margin: 0 auto;
        flex-direction: column;
        gap: 40px;
        align-items: start;
        justify-content: center;
        margin-left: 10px;
    }
    .btn{
        width: 200px;
        font-size: 15px;
        margin-left: 0px;
    }
    .btn-area{
        width: 110%;
        display: flex;
        justify-content: center;
        gap: 5px;
        align-items: center;
    }
    #btn{
        width: 200px;
        font-size: 15px;
    }
    .get-body-img img{
        width: 100%;
    }
    .video-btn{
        position: absolute;
        top: 50%;
        left: 54%;
        transform: translate(-50% , -50%);
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-left: 20px solid #fffefe;
        border-bottom: 10px solid transparent;
    }
    .red-circle{
        position: relative;
        padding: 5px;
        width: 30px;
        height: 30px;
        background: rgb(230, 83, 60);
        border-radius: 50%;
    }
    .workout{
        width: 123.91px;
        height: 74.09px;
        top: 38px;
        left: 151px;
    }
    .video{
        width: 155.74px;
        height: 72.58px;
        top: 195px;
        right: 125px; 
    }
    .video h2,
    .workout h2{
        color: rgb(255, 255, 255);
        font-size: 30px;
        font-weight: 900;
    }
    .video p,
    .workout p{
        font-size: 9px;
    }
    /* your habits section start */
    .habits-items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }
    .your-habits{
        text-align: center;
        margin-bottom: 40px;
    }
    .your-habits h2{
        width: 90%;
        margin: 0 auto;
        color: rgb(255, 255, 255);
        font-size: 25px;
        font-weight: 700;
        padding: 10px;
    }
    .your-habits p{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 10px;
        margin-bottom: 58px;
        line-height: 24px;
    }
    .habits-items p{
        margin-bottom: 30px;
    }

    /* extra mile area start */
    .extra-mile-area{
        width: 90%;
        flex-direction: column;
    }
    .mile-info{
        padding: 10px 25px;
        width: 90%;
    }
    .mile-info h2{
        font-size: 32px;
    }
    .btn2{
        margin-left: 4px;
        width: 90%;
    }
    .mile-img img{
        width: 100%;
    }
    .mile-img{
        width: 90%;
    }
    /* training section start */

    .training-area{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .training h2{
        width: 90%;
        font-size: 25px;
        margin-top: 30px;
        margin-right: 0;
    }
    .training p{
        width: 80%;
        margin-bottom: 37px;
    }
    .trainings-images img{
        width: 100%;
        height: 139px;
    }
    .ex3,
    .ex6{
        display: none;
    }
    .col-1,
    .col-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* bmi calculator section start */

    .bmi-calculator-area{
        width: 90%;
        margin: 0 auto;
    }
    .bmi-calculator-info{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        align-items: start;
        padding: 88px 0px;
    }
    .bmi-calculator-info{
        padding: 21px 0px;
    }
    .bmi-calculator-info h2{
        width: 236px;
        font-size: 32px;

    }
    .bmi-calculator-info p{
        width: 90%;
        line-height: 24px;
    }
    .bmi-chart-calculate-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0px;
    }
    .bmi-chart h2,
    .bmi-calculate h2{
        font-size: 16px;
        font-weight: 900;
        padding: 20px 0px;
    }
    .bmi-calculate p{
        width: 90%;
        line-height: 24px;
    }
    select{
        width: 143px;
        margin: 0;
    }
    .factor select{
        width: 290px;
    }
    .height-weight input,
    .age-sex input{
        width: 102px;
        height: 48px;
        margin:4px 2px;
        padding: 5px 20px;
        border: none;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
    }
    .btn3{
        width: 224px;
        margin-top: 34px;
        margin-bottom: 54px;
    }
    .meet-team-title h2{
        font-size: 32px;
        margin-top: 55px;
    }
    .meet-team-title p{
        width: 280px;
        margin: 0 auto;
        line-height: 24px;
        margin-bottom: 37px;
    }
    .meet-team-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .more-info-area{
        width: 90%;
        margin: 0 ;
    }
    .meet-team-img img{
        width: 100%;
        margin: 0 auto;
        height: 212px;
        border-radius: 18px;
        opacity: 0.7;
    }
    .more-info-content{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        gap: 10px;
    }
    .more-info-title p{
        width: 290px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    .copyright-content p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        font-weight: 300;
    }
}
/* tablet design */
